<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="no.nordicsemi.android.blinky">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="no.nordicsemi.android.LOG" />
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="bt.bracelet.android.capstone.Bluetooth"/>
        <activity android:name="bt.bracelet.android.capstone.Settings_Screen"/>
        <activity android:name="bt.bracelet.android.capstone.Schedule_Screen"/>
        <activity android:name="bt.bracelet.android.capstone.Timer_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="bt.bracelet.android.capstone.TimerScrollActivity"
            android:launchMode="singleTop"
            android:noHistory="true"/>
        <activity
            android:name=".SplashScreenActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScannerActivity"
            android:icon="@drawable/ic_blinky_feature"
            android:label="@string/feature_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="no.nordicsemi.android.nrftoolbox.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BlinkyActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ScannerActivity" />
        <receiver android:name="bt.bracelet.android.capstone.AlarmReceiver">
            <intent-filter>
                <action android:name="com.bt.bracelet.android.capstone"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>